<div class="form-spacing">
	<legend>New Album:</legend>

	<div class="form-group">
		<%= bootstrap_form_for(@album) do |f| %>
		  <%= f.text_field :name %>
      <%= f.check_box :private %>
		  <%= f.submit %>
		<% end %>
	</div>
</div>
