<h1>Upload photo</h1>

<div class="form-spacing">
	<legend>Upload photos:</legend>
	<div class="form-group">
		<%= bootstrap_form_tag(url: "/albums/#{@album.id}/pictures")  do |f|%>
			<%= f.file_field :image %>
			<%= f.hidden_field :album_id, value: @album.id %>
			<%= f.submit %>
		<% end %>
	</div>
</div>